name: Run Tests

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Get API Version
        id: version
        run: |
          API_VERSION="$(date +'%Y-%m')"
          echo "API_VERSION=$API_VERSION" >> $GITHUB_ENV

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install Ruby
        uses: ruby/setup-ruby@v1

      - name: Install JDK 1.8
        uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Install Bundler
        run: |
          gem install bundler
          BUNDLE_GEMFILE="MobileBuy/buy3/Gemfile" bundle install --verbose

      - name: Run Test
        working-directory: MobileBuy
        run: ./gradlew clean build connectedCheck -PdisablePreDex --console=plain
